{% extends 'elements/base.html' %}
{% block content %}

<section class="block-in">
        <div class="erro404">
            <div class="row">
                <div class="large-12 medium-12 small-12 columns text-center">
                    <h1>
                        <img src="{{ STATIC_URL }}img/404.png" height="" width="" alt="">
                    </h1>
                </div>
            </div>

            <div class="row">
                <div class="large-12 medium-12 small-12 columns text-center">
                    <div id="ops">
                        <h2>Oooops!!!</h2>
                        <h5>Parece que a pagina que a você estava tentando acessar, não esta mais aqui!</h5>
                        <a href="{% url 'home' %}" class="button ">Voltar para pagina incial</a>
                    </div>
                </div>
            </div>
        </div>


</section>

{% endblock %}