{% extends 'elements/base.html' %}
{% block content %}

<section class="block-in">

    <div class="row">
        <div class="large-8 medium-8 small-12 columns ">
            <div class="bread">
                <ul class="breadcrumbs">
                    <li><a href="{% url 'home' %}">Início</a></li>
                    <li class="current"><a href="#">Chefes</a></li>
                </ul>
            </div>

            <div class="block widget show-for-small">
                <form action="" class="form-search">
                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input type="text" placeholder="Pesquisar receitas ou chefes">
                        </div>
                        <div class="small-3 columns">
                            <a href="#" class="button postfix"><i class="fa fa-search"></i></a>
                        </div>
                    </div>
                </form>
            </div>

            <section class="block widget top-recipes">
            {% if request.GET.q %}
                <h4 class="box-title fa fa-search">Resultado de <span>"{{ request.GET.q }}"</span></h4>
            {% endif %}
                <ul class="recipe-list-top-recipes small-block-grid-1 medium-block-grid-2 large-block-grid-3">
                    {% for chef in object_list %}
                    <li>
                        <div class="item-top-chefs">
                            <a href="{% url 'dashboard' chef.pk %}">
                                {% if chef.get_photo_thumb %}
                                <img src="{{ chef.get_photo_thumb }}" alt="{{ chef.username }}">
                                {% else %}
                                <img src="{{ STATIC_URL }}img/icons/user.png" alt="{{ chef.username }}">
                                {% endif %}

                                <p class="name">{{ chef.username }}</p>
                                {% if chef.address %}
                                <p class="city">{{ chef.address }}</p>
                                {% endif %}
                            </a>

                            <div class="clearfix"></div>
                        </div>
                        <div class="item-list-chef">
                            <div class="box recipe">
                                <a href="" data-tooltip aria-haspopup="true" class="has-tip" title="Receitas">
                                <p class="title"><i class="fa fa-file-text-o"></i></p>

                                    <p class="value">{{ chef.recipe_set.count }}</p>
                                </a>
                            </div>
                            <div class="box photos">
                                <a href="" data-tooltip aria-haspopup="true" class="has-tip" title="Livros de receitas">
                                    <p class="title"><i class="fa fa-book"></i></p>

                                    <p class="value">{{ chef.recipebook_set.count }}</p>
                                </a>
                            </div>
                            <div class="box recipe-book">
                                <a href="" data-tooltip aria-haspopup="true" class="has-tip" title="Comentários">
                                    <p class="title"><i class="fa fa-comments"></i></p>

                                    <p class="value">{{ chef.comment_comments.count }}</p>
                                </a>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    </li>
                    {% endfor %}
                </ul>
                {% if is_paginated %}
                <hr>
                <ul class="pagination pages">
                    {% if page_obj.has_previous %}
                        <li class="arrow"><a href="?page={{ page_obj.previous_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">◀</a></li>
                    {% endif %}
                    {% for num in page_obj.paginator.page_range %}
                        {% ifequal num page_obj.number %}
                            <li><a href="" class="current">{{ num }}</a></li>
                        {% else %}
                            {% if num <= page_obj.number|add:2 and num >= page_obj.number|add:-2 %}
                                <li><a href="?page={{ num }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">{{ num }}</a></li>
                            {% endif %}
                        {% endifequal %}
                    {% endfor %}
                    {% if page_obj.has_next %}
                        <li class="arrow "><a href="?page={{ page_obj.next_page_number }}{% for key, value in request.GET.iteritems %}{% if not key == 'page' %}&{{ key }}={{ value }}{% endif %}{% endfor %}">▶</a></li>
                    {% endif %}
                </ul>
                {% endif %}
            </section>

        </div>

        <div class="large-4 medium-4 small-12 columns ">
            <div class="block widget hide-for-small">
                <div class="form-search">
                    <input type="radio" name="tipo-busca" value="Receitas" id="receitas-chk"><label for="receitas-chk">Receitas</label>
                    <input type="radio" name="tipo-busca" value="Chefes" id="chefes-chk" checked><label for="chefes-chk">Chefes</label>

                    <div class="row collapse">
                        <div class="small-9 columns">
                            <input name="q" id="id_q" type="text" placeholder="Pesquisar receitas ou chefes">
                        </div>
                        <div class="small-3 columns">
                            <button onclick="search();" class="button postfix"><i class="fa fa-search"></i></button>
                        </div>
                    </div>
                </div>
            </div>



           {% include 'elements/sidebar_chef_recipe.html' %}
           {% include 'elements/sidebar_social.html' %}
        </div>
    </div>
</section>

{% endblock %}
{% block extrajs %}
<script type="text/javascript">
    function search(){
        var tipo_busca = $('input[name="tipo-busca"]:checked').val();
        var q = $('input[name="q"]').val();
        if(tipo_busca == 'Receitas'){
            window.location.href = '{% url 'recipe_list' %}?q='+q;
        }
        if(tipo_busca == 'Chefes'){
            window.location.href = '{% url 'user_list' %}?q='+q;
        }
    }
</script>
{% endblock %}